.about-us {
  padding: 10px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.about-us h1 {
  margin: 10px 0;
  font-size: 1.5em;
}

.about-us p {
  text-align: left;
  margin: 20px 0;
}
