.listings__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  position: relative;
  top: 75px;
  margin: auto;
  margin-bottom: 86px;
  max-width: 1100px;
}

.item-card {
  background-color: #e7e7e7;
  max-width: 150px;
  text-align: center;
  flex: 1;
  margin: 10px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  padding: 10px;
  flex-basis: 33.3%;
  flex-grow: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.103);
}

.item-card__img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  justify-self: center;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.item-card__header {
  font-size: 1.1em;
  margin-bottom: 5px;
  text-align: left;
}

.item-card__price {
  margin-bottom: 8px;
  font-style: italic;
  font-weight: 600;
}

.item-card__text {
  font-size: 0.9em;
  text-align: left;
}

.item-card__category {
  width: 112px;

  font-style: italic;
  font-size: 0.7em;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  margin-top: 0;
}

.page-controls {
  background-color: #e7e7e7;
  margin: 60px auto;
  margin-bottom: 0;
  text-align: center;
  padding: 3px;
  padding-right: 6px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2px;
  left: 2px;
  gap: 5px;
  width: 150px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.103);
}

/* .page-controls__option:hover {
  color: blue;
} */

.page-controls__separator {
  color: rgb(202, 202, 202);
}

.page-controls__disabled {
  color: rgb(167, 167, 167);
}

@media screen and (min-device-height: 870px) {
  .listings__list {
    margin-top: 6.5vh;
  }
}
