.nav-bar,
footer {
  background-color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.nav-bar {
  border-bottom: 2px ridge #969696;
  position: fixed;
  width: 100%;
  padding: 2px;
  padding-bottom: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #c7c7c7;
  width: 100%;
  padding: 2px 0;
  padding-bottom: 3px;
  border-top: 2px ridge #969696;
}

#main-logo {
  min-width: 75px;
  border-radius: 10%;
  margin: 5px;
}

#main-logo:hover {
  filter: brightness(1.2);
}

.nav-bar__icon:hover {
  color: rgb(66, 66, 66);
}

.nav-bar__basket {
  position: relative;
  margin-right: 3px;
}

.nav-bar__history {
  margin-right: 3px;
}

.nav-bar__user {
  margin-right: 5px;
  position: relative;
}

.nav-bar__avatar {
  position: relative;
  width: 17px;
  margin-left: 2px;
  height: auto;
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.nav-bar__basket-indicator {
  font-weight: bold;
  font-size: 0.8em;
  position: absolute;
  background-color: rgb(219, 52, 52);
  padding: 0 4px;
  border-radius: 50%;
  bottom: 20px;
  left: 15px;
  text-align: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.247);
}

.nav-bar__categories {
  position: absolute;
  top: 43px;
  display: flex;
  font-size: 0.85em;
  font-weight: bold;
}
.nav-bar__category {
  margin: 0 10px;
}

.nav-bar__category:hover {
  color: #414141;
}

.search-bar {
  margin: 5px;
  display: flex;
}

.search-bar__input {
  position: relative;
  bottom: 1px;
  width: 150px;
  height: 22px;
  padding-left: 5px;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-bar__search-button {
  background-color: #fccd4b;
  margin-right: 2px;
  padding-top: 2px;
  border: 1px solid #2f2f2f;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  bottom: 1px;
}

#search-bar__search-button:hover {
  filter: brightness(1.05);
}

.search-bar__icon {
  height: 17px !important;
}

button {
  background-color: transparent;
}

.footer__text {
  margin: 0 30px;
}

.footer__link:hover {
  color: #575757;
}

.user-menu {
  background-color: #d1d1d1;
  text-align: left;
  position: absolute;
  z-index: 5;
  right: 0px;
  top: 22px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.418);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
}

.user-menu__option {
  font-weight: bold;
  margin: 5px;
}

.user-menu__name {
  background-color: #fccd4b;
  font-weight: bold;
  border-bottom: 1px solid rgb(161, 161, 161);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-device-width: 550px) {
  .nav-bar {
    gap: 10px;
    padding: 20px;
    padding-left: 0;
  }
  .nav-bar__categories {
    margin-top: 3px;
  }
  .search-bar {
    position: relative;
    margin: 0 50px;
    bottom: 5px;
  }
  #main-logo {
    position: absolute;
    bottom: 16px;
    height: 35px;
    margin: 0;
  }
}

@media screen and (min-device-width: 895px) {
  .search-bar {
    margin: 0 200px;
  }

  .search-bar__input {
    width: 250px;
  }
}

@media screen and (min-device-width: 1280px) {
  .search-bar {
    margin: 0 350px;
  }
  #main-logo {
    height: 35px;
    margin: 0;
  }
}
